@*<div class="row">
        <div class="col-md-12">
            <div class="copyright">
                <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
            </div>
        </div>
    </div>*@

<div id="loading"></div>

<script>
    $('#loading').hide();
    ////$('#loading').bind('ajaxStart', function () {

    ////}).bind('ajaxStop', function () {

    ////});
    $(document).on({
        ajaxStart: function () {
            $('#loading').show();
        },
        ajaxStop: function () {
            $('#loading').hide();
        }
    });
</script>
